.box{
    display: flex;
    justify-content:center;
    padding: 20px 0px;

}

.input{
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    border: none;
    font-size: 14px;
}

.button{
    display:block;
    width: 50%;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    background-color:  #03264C;
    font-size: 14px;
    border: none;
    color: white;
}

.titulo{
    font-size: 20px;
    text-align:center;
    font-weight: bold;
}

.radio{
    padding: 0px 30px;
    text-align: center;
}

.interes .check{
    padding: 10px 0px;
}
.iconos {
    color: #03264c;
    font-size: 2em;
    margin-bottom: 10px;
    transition: color, 0.5s;
  }
  .copy {
    padding-top: 20px;
    text-align: center;
  }
  .logo-liebre {
    width: 50%;
  }