<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body>
    <header>
    <div class="logo-buscador">
        <div class="logo-liebre">
            <a href="/">
              <img src="/images/logo-mercado-liebre.svg" width="100%" alt="logo de mercado liebre">
            </a>
        </div>
        
        <div class="buscador">
              <input class= "input-busca" type="text" placeholder="Buscá productos y marcas">
              <button class="button-busca"><i class="fas fa-search"></i></button>
        </div>
        
        <p class="centro"><i class="fas fa-hand-holding-usd"></i>Compre en cuotas y sin targeta de credito</p>
    </div>
    
<nav>
    <div class="nav-list">
    <ul class="nav-link-list">
        <li><a class="a" style = "text-decoration:none;Color:black"; href = "#">Ofertas</a></li>
        <li><a class="a" style = "text-decoration:none;Color:black"; href = "#"> Tiendas Oficiales</a></li>
        <li><a class="a" style = "text-decoration:none;Color:black"; href = "#">Vender</a></li>
        <li><a class="a" style = "text-decoration:none;Color:black"; href="#">Ayuda</a></li>
    </ul>
    <ul class="nav-link-list">
        <li><a class="a" style = "text-decoration:none;Color:black"; href="/register">Creá tu cuenta</a><i class="fas fa-address-card"></i></li>
        <li><a class="a" style = "text-decoration:none;Color:black"; href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a class="a" style = "text-decoration:none;Color:black"; href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
    </ul>
    </div>
    <div class="burger-center">
    <button class="burger-menu">
    <i class="fa fa-bars burger"></i>
    </button>
    </div>
</nav>
   </header>

   <section><img src="/images/img-home-banner.jpg" width="100%" alt="Banner de ofertas"></section>

   <main>
       <seccion class="product-section">
       <h1>Basado en su ultima visita</h1>
     <div class="product-list"> 
         <article class="articulo">
           <div class="img"><img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Imagen de la cafetera"></div>
          <div class="logo"><i class="fas fa-truck"></i></div>
           <div class="descripcion">
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
           </div>
           <div class="product">
               <h3>Cafetera Moulinex</h3>
           </div>
       </article>
       <article class="articulo">
        <div class="img"><img src="images/img-macbook-pro-2019.jpg" width="100%" alt="Imagen del macbook"></div>
        <div class="logo"><i class="fas fa-truck"></i></div>
        <div class="descripcion">
               <p class="precio">$230.000</p>
               <p class="descuento">20% off</p>
        </div>
        <div class="product">
                <h3>MacBook Pro 2019</h3>
        </div>
       </article>
       <article class="articulo">
        <div class="img"><img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="Imagen del samsung galaxy"></div>
        <div class="logo"><i class="fas fa-truck"></i></div>
        <div class="descripcion">
        <p class="precio">$70.500</p>
        <p class="descuento">10% off</p>
       </div>
       <div class="product">
           <h3>Samsung Galaxy S10</h3>
       </div>
       </article> 
       <article class="articulo">
        <div class="img"><img src="images/img-tv-samsung-smart.jpg" width="100%" alt="Imagen del smart"></div>
        <div class="logo"><i class="fas fa-truck"></i></div>
        <div class="descripcion">
        <p class="precio">$23.200</p>
        <p class="descuento">5% off</p>
        </div>
        <div class="product">
        <h3>SmartTv Samsung 43"</h3>
        </div>
       </article>
       </div>
    </seccion>

       <seccion class="product-section">
       <h1>Ofertas</h1>
       <div class="product-list">
       <article class="articulo">
        <div class="img"><img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Imagen de la cafetera"></div>
           <div class="logo"><i class="fas fa-truck"></i></div>
           <div class="descripcion">
           <p class="precio">$6.770</p>
           <p class="descuento">40% off</p>
           </div>
           <div class="product">
                 <h3>Cafetera Moulinex</h3>
           </div>
       </article>
       <article class="articulo">
        <div class="img"><img src="images/img-macbook-pro-2019.jpg" width="100%" alt="Imagen del macbook"></div>
        <div class="logo"><i class="fas fa-truck"></i></div>
        <div class="descripcion">
               <p class="precio" >$230.000</p>
               <p class="descuento">20% off</p>
       </div>
       <div class="product">
             <h3>MacBook Pro 2019</h3>
       </div>    
       </article>
       <article class="articulo">
        <div class="img"><img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="Imagen del samsung galaxy"></div>
        <div class="logo"><i class="fas fa-truck"></i></div>
        <div class="descripcion">
               <p class="precio">$70.500</p>
               <p class="descuento">10% off</p>
        </div>
        <div class="product">
             <h3>Samsung Galaxy S10</h3>
        </div>
       </article> 
       <article class="articulo">
        <div class="img"><img src="images/img-tv-samsung-smart.jpg" width="100%" alt="Imagen del smart"></div>
        <div class="logo"><i class="fas fa-truck"></i></div>
        <div class="descripcion">
        <p class="precio">$23.200</p>
        <p class="descuento">5% off</p>
        </div>
        <div class="product">
              <h3>SmartTv Samsung 43"</h3>
        </div>
       </article>
    </div>
</section>
   </main>
<footer>
    <div class="option">
       <section>
        <div class="iconos"><i class="fas fa-credit-card"></i></div>
       <h4>Pagá con tarjeta o en efectivo</h4>
       <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
       </section>
       <section>
        <div class="iconos"><i class="fas fa-gift"></i></div>
       <h4>Envío gratis desde $ 2.500</h4>
       <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
       </section>
       <section>
        <div class="iconos"><i class="fas fa-user-shield"></i></div>
       <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>
    </div>  
       <seccion>
          <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </seccion>
   
</footer>
</body>
</html>
